// Color Variables
$primary-color: #000;
$text-color: #333;
$text-color-dark: #000;
$text-color-light: #888888;
$body-color: #fff;
$border-color: #DEDEDE;
$black: #000;
$dark: #222;
$white: #fff;
$light: #F6F6F6;

// Font Variables
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Cormorant Garamond', serif;