<div class="widget">
  <h4 class="widget-header text-center">Recommended</h4>
  <div class="widget-body">
    <ul class="widget-list">
      {{ $related := (where site.RegularPages "Section" "posts") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ range first 5 $related }}
      <li class="media py-3 align-items-center">
        {{ if .Params.image }}
        <a href="{{.Permalink}}" class="py-0">
          <img loading="lazy" src="{{ .Params.image | absURL }}" alt="{{.Title}}" class="post-thumb-sm">
        </a>
        {{ else }}
        <a href="{{.Permalink}}" class="image-fallback post-thumb-sm">{{.Title | title}}</a>
        {{ end }}
        <div class="media-body ml-2">
          <h4><a class="post-title" href="{{.Permalink}}">{{.Title}}</a></h4>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</div>