<!-- navigation -->
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand order-1" href="{{ site.BaseURL | relLangURL }}">
        {{ if site.Params.logo }}
        <img class="img-fluid" width="{{site.Params.logo_width}}" src="{{ site.Params.logo | absURL}}"
          alt="{{ site.Title }}">
        {{ else }}
        {{site.Title}}
        {{ end }}
      </a>
      {{ if site.Params.search }}
      <!-- search -->
      <form action="{{ `search`| relLangURL }}" class="search order-lg-3 order-2">
        <input id="search-query" name="s" type="search" placeholder="Search...">
      </form>
      {{ end }}
      <button aria-label="navbar toggler" class="navbar-toggler border-0 order-3" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse text-center order-lg-2 order-4" id="navigation">
        <ul class="navbar-nav mx-auto  my-4 my-lg-0">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" {{if findRE `^http` .URL}}target="_blank"{{end}}
              href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" {{if findRE `^http` .URL}}target="_blank"{{end}}
              href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->